<?xml version="1.0" encoding="UTF-8"?>

<quiqqer>

    <!-- project settings -->
    <project>
        <settings name="history">
            <!-- config params -->
            <config>
                <section name="limits">
                    <conf name="limitPerSite">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>20</defaultvalue>
                    </conf>
                    <conf name="limitPerBrick">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>20</defaultvalue>
                    </conf>
                </section>
            </config>

            <!-- config window -->
            <window>
                <categories>
                    <category name="history">
                        <text>
                            <locale group="quiqqer/history" var="title" />
                        </text>
                        <icon>fa fa-clock-o</icon>

                        <settings title="limits" name="limits">
                            <title>
                                <locale group="quiqqer/history" var="settings.title" />
                            </title>
                            <input conf="history.limits.limitPerSite" type="text">
                                <text>
                                    <locale group="quiqqer/history" var="settings.limit.text" />
                                </text>
                                <description>
                                    <locale group="quiqqer/history" var="settings.limit.description" />
                                </description>
                            </input>
                            <input conf="history.limits.limitPerBrick" type="text">
                                <text>
                                    <locale group="quiqqer/history" var="settings.limit.brick.text" />
                                </text>
                                <description>
                                    <locale group="quiqqer/history" var="settings.limit.brick.description" />
                                </description>
                            </input>
                        </settings>
                    </category>
                </categories>
            </window>

        </settings>
    </project>

</quiqqer>
